<div class="container">
  <strong class="fs-1 lh-sm">Política de Privacidad y Uso de Cookies</strong>
  <p class="fs-5 lh-sm">
    En Superseguros, valoramos tu privacidad. Esta política explica cómo
    utilizamos las cookies y otras tecnologías similares para mejorar tu
    experiencia en nuestro sitio web.
  </p>
  <strong class="fs-1 lh-sm">¿Qué son las cookies?</strong>
  <p class="fs-5 lh-sm">
    Las cookies son pequeños archivos de texto que se almacenan en tu
    dispositivo cuando visitas nuestro sitio web. Estos archivos contienen
    información que nos ayuda a reconocerte y personalizar tu experiencia.
  </p>
  <strong class="fs-1 lh-sm">¿Cómo utilizamos las cookies?</strong>
  <ul>
    <li>
      <p class="fs-5 lh-sm">
        <span class="fw-bolder letter-blue">Cookies Esenciales:</span> Son necesarias para el funcionamiento
        básico del sitio web y te permiten navegar y utilizar sus funciones
        esenciales.
      </p>
    </li>
    <li>
      <p class="fs-5 lh-sm">
        <span class="fw-bolder letter-blue">Cookies de Rendimiento:</span> Nos permiten entender cómo
        interactúas con nuestro sitio web, mejorando su rendimiento y
        proporcionando una experiencia más fluida.
      </p>
    </li>
    <li>
      <p class="fs-5 lh-sm">
        <span class="fw-bolder letter-blue">Cookies de Funcionalidad:</span> Permiten recordar tus
        preferencias y personalizar el contenido para ti, como tu idioma o
        región.
      </p>
    </li>
    <li>
      <p class="fs-5 lh-sm">
        <span class="fw-bolder letter-blue">Cookies de Publicidad:</span> Trabajamos con terceros para mostrar
        anuncios relevantes para tus intereses basados en tu actividad en
        nuestro sitio web y en otros lugares de internet.
      </p>
    </li>
  </ul>
  <strong class="fs-1 lh-sm">¿Cómo gestionar las cookies?</strong>
  <p class="fs-5 lh-sm">
    Puedes aceptar o rechazar el uso de cookies a través de la configuración de
    tu navegador. También puedes configurar tus preferencias de cookies en
    nuestro sitio web.
  </p>
  <p class="fs-5 lh-sm">
    Al continuar utilizando nuestro sitio web sin cambiar la configuración de
    cookies, aceptas nuestro uso de cookies de acuerdo con esta política.
  </p>
  <p class="fs-5 lh-sm">
    Esta política de cookies está sujeta a cambios, por lo que te recomendamos
    revisar esta página periódicamente para estar al tanto de cualquier
    actualización.
  </p>
</div>
