.container-fluid {
  background-image: url("https://res.cloudinary.com/diewhn0cm/image/upload/v1707271301/superseguros/fotoshome/orumt646gwjee3pnzhqi.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
}
