<div id="sliderImages" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div *ngFor="let image of imagesCarousel" class="carousel-item" [ngClass]="{'active': image.isActive}">
      <img
        [src]="image.imageUrl"
        height="1000"
        width="2000"
        class="carousel_img"
        [alt]="image.title"
      >
      <div class="carousel-caption d-none d-md-block">
        <h5>{{ image.title }}</h5>
        <p>{{ image.subtitle }}</p>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#sliderImages" data-bs-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#sliderImages" data-bs-slide="next">
    <span class="carousel-control-next-icon"></span>
  </button>
</div>

<div class="container mt-4">
  <div class="row">
    <div class="col-6" data-aos="fade-right">
      <strong class="fs-1 lh-sm">¡Bienvenido a SuperSeguros!</strong>
      <p class="mt-3 fs-5 lh-sm">Tu socio confiable en el mundo de las coberturas medicas en Ecuador. Descubre cómo podemos proteger tu bienestar y el de tus seres queridos con nuestras soluciones innovadoras y personalizadas. ¡Haz clic para explorar nuestras ofertas ahora!</p>
    </div>
    <div class="col-6" data-aos="fade-left">
      <iframe width="600" height="400" [src]="urlVideo | safeUrl" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
  </div>
  <h1 class="text-center fw-bold mt-4">Obtenga Asesoría Personalizada: <span class="letter-blue">Cita Virtual o Presencial</span></h1>
  <p class="text-center mb-3">
    Descubra la mejor opción para usted con nuestra asesoría de seguros médicos. Programe su cita virtual para comodidad desde casa o reserve una cita presencial para una atención personalizada. ¡Agende ahora!
  </p>
  <div class="row mb-3">
    <home-card-services
      *ngFor="let item of cardServicesItems"
      class="col-4"
      [title]="item.title"
      [subtitle]="item.subtitle"
      [icon]="item.icon"
      data-aos="flip-left"
      [isOpenModal]="item.isOpenModal || false"
      [putAddressField]="item.putAddressField || false"
    />
  </div>
  <div class="row">
    <div class="col-6" data-aos="fade-right" data-aos-delay="500">
      <strong>En SuperSeguros, nuestro equipo de asesores cuenta con más de diez años de experiencia en la asesoría de planes médicos. Estamos aquí para ofrecerte orientación experta y personalizada para encontrar la cobertura médica perfecta para ti. Confía en nosotros para proteger tu salud y bienestar con las mejores opciones de planes médicos en el mercado ecuatoriano. ¡Estamos comprometidos a ayudarte a tomar decisiones informadas y seguras sobre tu seguro médico!</strong>
    </div>
    <div class="col-6">
      <div class="container-avatar" data-aos="fade-zoom-in">
        <div class="avatar large">
          <img src="https://res.cloudinary.com/diewhn0cm/image/upload/v1707274307/superseguros/asesores/qyvxts1yajhfmqg6mgdj.jpg" alt="ase1">
        </div>
        <div class="avatar large">
          <img src="https://res.cloudinary.com/diewhn0cm/image/upload/v1707270366/superseguros/asesores/al7ixedvtnoldjmlbuxz.jpg" alt="ase2">
        </div>
        <div class="avatar large">
          <img src="https://res.cloudinary.com/diewhn0cm/image/upload/v1707270288/superseguros/asesores/jjd74gx69jagi8u58glv.jpg" alt="ase3">
        </div>
        <div class="avatar large">
          <img src="https://res.cloudinary.com/diewhn0cm/image/upload/v1707869708/superseguros/asesores/jliremqngo5qn8za42v6.jpg" alt="ase6">
        </div>
        <div class="avatar large">
          <img src="https://res.cloudinary.com/diewhn0cm/image/upload/v1707270488/superseguros/asesores/wnsg2qzggttk2ntbg3zu.jpg" alt="ase4">
        </div>
        <div class="avatar large">
          <img src="https://res.cloudinary.com/diewhn0cm/image/upload/v1707270569/superseguros/asesores/o9qkrnluw2urfpgcxk0j.jpg" alt="ase5">
        </div>
        <div class="avatar large">
          <img src="https://res.cloudinary.com/diewhn0cm/image/upload/v1707270622/superseguros/asesores/x4o8yq8zc3yrqgpbykjh.jpg" alt="ase6">
        </div>
        <!-- <div class="avatar small">
          <img src="https://i.pravatar.cc/500?img=9" alt="">
        </div>
        <div class="avatar">
          <img src="https://i.pravatar.cc/500?img=10" alt="">
        </div>
        <div class="avatar large">
          <img src="https://i.pravatar.cc/500?img=11" alt="">
        </div>
        <div class="avatar small">
          <img src="https://i.pravatar.cc/500?img=12" alt="">
        </div>
        <div class="avatar">
          <img src="https://i.pravatar.cc/500?img=13" alt="">
        </div>
        <div class="avatar large">
          <img src="https://i.pravatar.cc/500?img=14" alt="">
        </div>
        <div class="avatar small">
          <img src="https://i.pravatar.cc/500?img=15" alt="">
        </div> -->
      </div>
    </div>
  </div>
</div>
