<img src="https://cdn.dribbble.com/users/3748009/screenshots/10805514/media/b876df0dc73bb8b33bb9726313493982.gif" width="100%" height="700" alt="">
<div class="container mt-5">
  <div class="row p-5">
    <div class="col-6" data-aos="fade-right">
      <h1>¿Quienes Somos?</h1>
      <p>
        En Saludsa desde 1993 trabajamos para ocuparnos de la salud de las personas. Hoy somos la empresa líder en Medicina Prepagada, donde nuestro talento está enfocado a satisfacer las necesidades de nuestros clientes y promover un estilo de vida saludable, por eso estamos convencidos de que en estos 29 años con cada Producto que ofrecemos, mejoramos su vida.
      </p>
    </div>
    <div class="col-6" data-aos="fade-left">
      <img src="../../../../assets/images/logo-black-background.svg" alt="Logo" width="800" height="300">
    </div>
  </div>
</div>
<about-mision-vision
  title="Mision"
  subtitle="Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ut facilis unde labore quasi rerum ex,"
  color="#0771A9"
/>
<about-mision-vision
  title="Vision"
  subtitle="Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ut facilis unde labore quasi rerum ex,"
  color="#D02D2C"
/>
