<!-- <img src="https://cdn.dribbble.com/users/3748009/screenshots/10805514/media/b876df0dc73bb8b33bb9726313493982.gif" width="100%" height="700" alt=""> -->
<div style="width: 100%; overflow: hidden; box-sizing: border-box;">
  <img src="https://res.cloudinary.com/diewhn0cm/image/upload/v1707274846/superseguros/sl0gcqrsowjmiybippvi.jpg" style="object-fit: cover; width: 100%; height: 100%; box-sizing: border-box;" alt="">
</div>
<div class="container mt-5">
  <div class="row p-5">
    <div class="col-6" data-aos="fade-right">
      <h1>¿Quienes Somos?</h1>
      <p>
        En SuperSeguros, nos enorgullece ser un equipo de expertos en coberturas médicas dedicados a proteger la salud y el bienestar de nuestros afiliados. Con años de experiencia en la industria de seguros, hemos consolidado nuestro compromiso de brindar tranquilidad y seguridad a cada persona y familia a la que servimos. Nuestro equipo está formado por profesionales apasionados y comprometidos que se esfuerzan por encontrar las mejores soluciones de seguros médicos para cada situación única. Desde la cobertura básica hasta las opciones más especializadas, estamos aquí para guiar y proteger a nuestros clientes en cada paso del camino. Confía en SuperSeguros para cuidar de ti y tus seres queridos cuando más lo necesitas. ¡Estamos aquí para ti!
      </p>
    </div>
    <div class="col-6" data-aos="fade-left">
      <img src="../../../../assets/images/logo-black-background.svg" alt="Logo" width="800" height="300">
    </div>
  </div>
</div>
<about-mision-vision
  title="Mision"
  subtitle="Brindar tranquilidad y seguridad a nuestros clientes en Ecuador. En SuperSeguros, nos dedicamos a encontrar las mejores soluciones de planes médicos para adaptarnos a las necesidades únicas de cada afiliado y su familias."
  color="#0771A9"
/>
<about-mision-vision
  title="Vision"
  subtitle="Nuestra visión es ser reconocidos por nuestra excelencia en servicio al cliente y nuestra capacidad para ofrecer soluciones innovadoras y asequibles que protejan la salud y el bienestar de nuestros afiliados en todo momento."
  color="#D02D2C"
/>
