<!-- <div class="bg-body-secondary py-5">
  <div class="d-flex justify-content-center">
    <div class="row">
      <div class="col-6">
        <img src="../../../../assets/images/logo-horizontal.svg" alt="logo" width="100%" height="30px">
        <p class="fs-7 mt-2">564, Manon road, Fl 456 Caron Town. Office No 3456</p>
        <p class="fs-7">info@example.com</p>
        <p class="fs-7">234-5825652763</p>
        <div class="mt-4 fs-4 w-100 d-flex justify-content-evenly">
          <i class="fa-brands fa-facebook pointer"></i>
          <i class="fa-brands fa-tiktok pointer"></i>
          <i class="fa-brands fa-youtube pointer"></i>
          <i class="fa-brands fa-instagram pointer"></i>
        </div>
      </div>
      <div class="col-6">
        <p class="fs-6 fw-bold" style="color: #0771A9;">Sobre Nosotros</p>
        <ul class="navbar-nav">
          <li class="nav-item ms-2" *ngFor="let menuItem of menutItems">
            <a class="nav-link fs-7">{{ menuItem.label }}</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div> -->
<div class="bg-body-secondary py-5">
  <div class="d-flex justify-content-center">
    <div class="row w-50">
        <div class="col-6">
          <img src="../../../../assets/images/logo-horizontal.svg" alt="logo" width="100%" height="55px">
          <p class="fs-7 text-center">Av. República De El Salvador, Quito, Ecuador</p>
          <p class="fs-7 text-center">ventas@supersegurosec.com</p>
          <p class="fs-7 text-center">+593986823658</p>
          <div class="fs-4 w-100 d-flex justify-content-evenly" style="padding-right: 6rem !important; padding-left: 6rem !important;">
            <i class="fa-brands fa-facebook pointer"></i>
            <i class="fa-brands fa-tiktok pointer"></i>
            <i class="fa-brands fa-youtube pointer"></i>
            <i class="fa-brands fa-instagram pointer"></i>
          </div>
        </div>
        <div class="col-6">
          <div>
            <p class="fs-6 fw-bold py-3" style="color: #0771A9;">Sobre Nosotros</p>
            <ul class="navbar-nav">
              <li class="nav-item ms-2" *ngFor="let menuItem of menutItems">
                <a class="nav-link fs-7">{{ menuItem.label }}</a>
              </li>
            </ul>
          </div>
        </div>
    </div>
  </div>
</div>
