<div class="container-fluid mt-2 pt-2">
  <div class="row">
    <div class="col-10">
      <h1 class="text-center">Aseguramos lo mejor para ti y los tuyos</h1>
      <p class="text-center px-4">Descubre las noticias más destacadas</p>
      <pagination-controls
          class="d-flex justify-content-center"
          *ngIf="totalPage > 1"
          previousLabel="Anterior"
          nextLabel="Siguiente"
          [responsive]="true"
          (pageChange)="handlePageChange($event)"
      ></pagination-controls>
      <div class="d-flex justify-content-center flex-wrap">
        <blog-card
          class="animate__animated animate__fadeIn"
          *ngFor="let blog of blogs | paginate: {
              itemsPerPage: pageSize,
              currentPage: page,
              totalItems: totalRecords
          }"
          [cardInformation]="blog"
        />
      </div>
      <pagination-controls
        class="d-flex justify-content-center"
        *ngIf="totalPage > 1"
        previousLabel="Anterior"
        nextLabel="Siguiente"
        [responsive]="true"
        (pageChange)="handlePageChange($event)"
     ></pagination-controls>
    </div>
    <div class="col-2">
      <div class="d-flex" style="height: 100vh;">
        <div class="vr me-4"></div>
        <div class="w-100">
          <h2 class="text-center">Categorias</h2>
          <div class="accordion" id="accordionCategories">
            <blog-categories
              *ngFor="let categorie of categories"
              [categorie]="categorie"
              (categorieSelected)="obtainNewBlogs($event)"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
